ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 8px;
    font-family: 'Open Sans';
}

.right {
    float: right;
}

.row1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#portrait {
    border-radius: 50%;
    width: 20%;
    height: auto;
}

.row1col2 {
    display: flex;
    flex-direction: column;
}

#name {
    background-color: lightblue;
}

#description {
    overflow-wrap: break-word;
    max-width: 250px;
    background-color: lightblue;
    font-family: 'Open Sans';
}

.row2 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.row2col2 {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icons {
    display: flex;
}

.linkedin {
    width: auto;
    height: 8%;
}

.github {
    width: 13%;
    height: auto;
}

.gmail {
    width: 10%;
    height: auto;
}